.container-review {
    background-color: #fff;
    flex: 1;
    padding: 12px;
    font-family: monospace;
}

h2 {
    font-weight: 500;
    border-bottom: 1px solid lightgreen;
    padding-bottom: 15px;
}

.subtotal-container {
    flex: 0.4;
    background-color: #fff;
    margin-left: 10px;
}

.container-address {
    margin-top: 20px;

}

.address-details {
    margin-top: 10px;
    margin-left: 10px;
}

p {
    font-size: 14px;
    margin-top: 4px;
}

.payment-container {
    padding: 4px;

}

.pay-button {
    margin: 30px;
}

.order {
    padding: 15px;
    background-color: #fff;
    flex: 0.7;
}

.header-order {
    font-family: monospace;
    color: rgb(3, 163, 3);
}

#btn-pay {
    margin-top: 4px;
}